<!-- Fragmento #1 que irá en el head de todas las páginas, asi se incluye todo lo necesario de configuración-->
<head th:fragment="head">
    <title>TechShop</title>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/fav/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="256x256" href="/fav/favicon-256x256.png"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
    <link th:href="@{/css/estilos.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>

<!-- Fragmento #2 define el encabezado de las páginas, en concreto el menú y enlaces rápidos -->
<header th:fragment="header" class="header">
    <nav class="navbar navbar-expand-sm p-0">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand">[[#{aplicacion.titulo}]]</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item px-2"><a class="nav-link" th:href="@{/categoria/listado}">[[#{plantilla.categorias}]]</a></li>
                    <li class="nav-item px-2"><a class="nav-link" th:href="@{/producto/listado}">[[#{plantilla.productos}]]</a></li>
                    <li class="nav-item px-2"><a class="nav-link" th:href="@{/consultas/listado}">[[#{plantilla.consultas}]]</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            [[#{plantilla.admin}]]
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/usuario/listado}">[[#{plantilla.usuarios}]]</a></li>
                            <li>
                                <a class="submenu submenu-md dropend"
                                   data-bs-toggle="dropdown" role="button" aria-expanded="false"
                                   onclick="event.stopPropagation();">
                                    [[#{plantilla.seguridad}]]
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" th:href="@{/role/listado}">[[#{plantilla.roles}]]</a></li>
                                    <li><a class="dropdown-item" th:href="@{/usuario_rol/mantenimiento}">[[#{plantilla.permisos}]]</a></li>
                                    <li><a class="dropdown-item" th:href="@{/ruta/listado}">[[#{plantilla.rutas}]]</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" th:href="@{/constante/listado}">[[#{plantilla.constantes}]]</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            [[#{plantilla.idioma}]]
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/(lang=es)}">Español</a></li>
                            <li><a class="dropdown-item" th:href="@{/(lang=en)}">English</a></li>
                            <li><a class="dropdown-item" th:href="@{/(lang=fr)}">Française</a></li>
                            <li><a class="dropdown-item" th:href="@{/(lang=pt)}">Portugaise</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="resultBlock">
            </div>
        </div>
    </nav>
    <section id="main-header" class="py-2 bg-success text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1><i class="fas fa-cog"></i> [[#{plantilla.suTienda}]]</h1>
                </div>
            </div>
        </div>
    </section>
</header>

<!-- Fragmento #3  define el footer de las páginas, aparte de esto se podría incluir enlaces a redes socilaes y demás -->
<footer th:fragment="footer" class="p-2 mt-5 bg-info text-white">
    <p class="lead text-center">[[#{plantilla.derechos}]] &#169;</p>
</footer>
