<!DOCTYPE html>
<!-- Esto es un comentario... -->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header>
            <h1>Imágenes</h1>
        </header>
        <aside>
            <h1>Mis Autos</h1>
            <p>Los autos que en mi subconsiente llevo todos los dias..</p>
        </aside>
        <section>
            <h2>Lunes</h2>
            <img src="/img/lunes.jpg" width="300" alt=""/>
            <h2>Martes</h2>
            <img src="https://www.record.com.mx/sites/default/files/articulos/2023/03/30/hennessey_venom_f5_roadster-6.jpg" width="300" alt=""/>
        </section>
        <footer>
            Todos los Derechos Reservados TechShop 2025 &copy;
        </footer>

    </body>
</html>
